<%= error_messages_for(@comment) %>
<%# form_authenticity_token %>


<table>
  <tr>
    <td id="new-comment">
      <%= f.text_area :body, placeholder: "Type a comment", autofocus: false %>
    </td>
  </tr>
    <td>
    <%= submit_tag('Create Comment') %>
    <!--input name="b" type="button" value="Go!" onclick="document.log.submit();document.log.reset();"-->
    <%# f.label("Picture upload is optional") %>
    <%# f.file_field(:comment_image) %></td><br>
    </td>
  </tr>
</table>
