<% @page_title = "Home" %>
<h1>Home</h1>
<h2><%= "You are logged in as #{session[:first_name]} #{session[:last_name]}." %></h2>
<p>Click to browse users or submissions. <br>
Be sure to create a new submission.</p>