.notice { height: 1.25em; padding: 0.5em; text-align: center;
   color: #4C2516; }

  li {
    display: inline;
}
#site-title{ font-size: 200%;
  float: right;


    }
#link {

}
header {
    background: #66cc66;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding-bottom: 2px;
    z-index: 500


}

main {margin-top: 40px;}

#odd {
}

th { text-align: left;
}

nav {background: #66cc66;
  position: left;
}



